$rounded: .5rem;
$hInput: 50px;

@mixin all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@import './component/button_style';

@import './component/input_style';