@import './color_palette';
@import './mixin';
@import './typography';

* {
    overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    @include all-center;
    width: 100%;
    height: 100vh;
    background: $bg;
}

.alert {
    @include all-center;
    justify-content: space-between;
    @include input-label;
    padding: 1rem 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    font-weight: 600;
    color: $txt-err;
    background: $bg-err;
    transition: .5s;
    transform: translateY(-120px);

    .pict {
        @include all-center;
        width: 80px;
        height: 80px;
        
        &.close-alert {
            cursor: pointer;
        }
        
        img {
            width: 40%;
        }
    }

    p {
        margin-right: 1rem;
    }

}

.container {
    width: 85%;
    height: auto;
}

header {
    @include all-center;
    width: 100%;
    height: auto;
    
    img {
        margin-right: 2rem;
        height: 6rem;
    }

    .name {
        @include heading1;
    } .service {
        @include heading2;
        margin-top: .4rem;
    }

}

main {
    @include all-center;
    flex-direction: column;
    margin-top: 4rem;

    .group {
        @include all-center;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        height: 80px;
        margin-bottom: 2rem;
        
        &:nth-child(3) {
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 0;
            margin-top: 1rem;

            button {
                @include input-label;
                letter-spacing: 2px;
                @include btn-off;
                padding: 0 1rem;
                width: 23%;
                height: $hInput;

                &.mhs {
                    @include btn-primary;
                }
            }
        } &:nth-child(2) {
            height: 120px;
        }

        label {
            @include input-label;
        }

        input {
            @include input-style;
        }

        p {
            cursor: pointer;
            @include all-center;
            @include body-text;
            margin-top: 1rem;
            letter-spacing: 1px;
            font-size: 16px;
            color: $main;
            justify-content: flex-end;
            width: 100%;
        }
    }
}

footer {
    @include all-center;
    width: 100%;
    margin-top: 2rem;
    height: auto;

    button {
        @include body-text;
        @include btn-primary;
        width: 50%;
        height: $hInput;
        font-weight: 600;
    }
}

@media screen and (max-width: 900px) {
    .alert {
        .pict {
            img {
                width: 100%;
            }
        }
    }
}