@import './color_palette';
@import './mixin';
@import './typography';

* {
    padding: 0;
    margin: 0;

    overflow: hidden;

    box-sizing: border-box;
}

body {
    @include all-center;

    width: 100%;
    height: 100vh;
    background: $bg;
}

@import './component/popup_alert';

.container {
    width: 85%;
    height: auto;
}

header {
    @include all-center;

    width: 100%;
    height: auto;
    
    img {
        margin-right: 2rem;

        height: 6rem;
    }

    .name {
        @include heading1;
    } .service {
        @include heading2;

        margin-top: .4rem;
    }

}

main {
    @include all-center;
    
    margin-top: 4rem;

    flex-direction: column;

    .group {
        @include all-center;
        
        margin-bottom: 2rem;
        
        flex-direction: column;
        align-items: flex-start;

        width: 50%;
        height: 80px;
        
        &:nth-child(3) {
            margin-bottom: 0;
            margin-top: 1rem;

            justify-content: space-between;
            align-items: center;
            flex-direction: row;

            button {
                @include input-label;
                @include btn-off;

                padding: 0 1rem;
                
                width: 23%;
                height: $hInput;
                letter-spacing: 2px;

                &.mhs {
                    @include btn-primary;
                }
            }
        } &:nth-child(2) {
            height: 120px;
        }

        label {
            @include input-label;
        }

        input {
            @include input-style;
        }

        p {
            @include all-center;
            @include body-text;

            margin-top: 1rem;
            
            justify-content: flex-end;
            
            cursor: pointer;
            
            font-size: 16px;
            letter-spacing: 1px;
            
            color: $main;
            width: 100%;
        }
    }
}

footer {
    @include all-center;
    
    margin-top: 2rem;
    
    width: 100%;
    height: auto;

    button {
        @include body-text;
        @include btn-primary;

        font-weight: 600;
        
        width: 50%;
        height: $hInput;
    }
}

@media screen and (max-width: 900px) {
    .alert {
        .pict {
            img {
                width: 100%;
            }
        }
    }
}