:root {
  --bg-err: #fcbaba;
  --txt-err: #961c1c;
}

@font-face {
  font-family: Montserrat-Reguler;
  src: url("./../../app/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Montserrat-Bold;
  src: url("./../../app/fonts/Montserrat-Bold.ttf");
}
* {
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #FFFFFF;
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat-Bold;
  font-size: 25px;
  letter-spacing: 4px;
  color: #252B4B;
  font-family: Montserrat-Reguler;
  font-size: 14px;
  letter-spacing: 6.8px;
  font-size: 16px;
  letter-spacing: 3px;
  font-size: 14.5px;
  color: #828698;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
  justify-content: space-between;
  width: 100%;
  height: auto;
  font-weight: 600;
  color: #961c1c;
  background: #fcbaba;
  transition: 0.5s;
  transform: translateY(-120px);
}
.alert .pict {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}
.alert .pict.close-alert {
  cursor: pointer;
}
.alert .pict img {
  width: 40%;
}
.alert p {
  margin-right: 1rem;
}

.container {
  width: 85%;
  height: auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
header img {
  margin-right: 2rem;
  height: 6rem;
}
header .name {
  font-family: Montserrat-Bold;
  font-size: 25px;
  letter-spacing: 4px;
  color: #252B4B;
}
header .service {
  font-family: Montserrat-Bold;
  font-size: 25px;
  letter-spacing: 4px;
  color: #252B4B;
  font-family: Montserrat-Reguler;
  font-size: 14px;
  letter-spacing: 6.8px;
  margin-top: 0.4rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  flex-direction: column;
}
main .group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  height: 80px;
}
main .group:nth-child(3) {
  margin-bottom: 0;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
main .group:nth-child(3) button {
  font-family: Montserrat-Bold;
  font-size: 25px;
  letter-spacing: 4px;
  color: #252B4B;
  font-family: Montserrat-Reguler;
  font-size: 14px;
  letter-spacing: 6.8px;
  font-size: 16px;
  letter-spacing: 3px;
  font-size: 14.5px;
  color: #828698;
  border: none;
  border-radius: 0.5rem;
  transition: 0.5s;
  color: #828698;
  background: #DFE0E4;
  padding: 0 1rem;
  width: 23%;
  height: 50px;
  letter-spacing: 2px;
}
main .group:nth-child(3) button:hover {
  cursor: pointer;
  opacity: 0.8;
}
main .group:nth-child(3) button.mhs {
  border: none;
  border-radius: 0.5rem;
  transition: 0.5s;
  color: #FFFFFF;
  background: #2A57F8;
}
main .group:nth-child(3) button.mhs:hover {
  cursor: pointer;
  opacity: 0.8;
}
main .group:nth-child(2) {
  height: 120px;
}
main .group label {
  font-family: Montserrat-Bold;
  font-size: 25px;
  letter-spacing: 4px;
  color: #252B4B;
  font-family: Montserrat-Reguler;
  font-size: 14px;
  letter-spacing: 6.8px;
  font-size: 16px;
  letter-spacing: 3px;
  font-size: 14.5px;
  color: #828698;
}
main .group input {
  font-family: Montserrat-Bold;
  font-size: 25px;
  letter-spacing: 4px;
  color: #252B4B;
  font-family: Montserrat-Reguler;
  font-size: 14px;
  letter-spacing: 6.8px;
  font-size: 16px;
  letter-spacing: 3px;
  margin-top: 0.5rem;
  padding: 0 1rem;
  font-weight: 600;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  border: 1px solid #828698;
}
main .group input:focus {
  border: 2px solid #2A57F8;
}
main .group p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat-Bold;
  font-size: 25px;
  letter-spacing: 4px;
  color: #252B4B;
  font-family: Montserrat-Reguler;
  font-size: 14px;
  letter-spacing: 6.8px;
  font-size: 16px;
  letter-spacing: 3px;
  margin-top: 1rem;
  justify-content: flex-end;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px;
  color: #2A57F8;
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
  height: auto;
}
footer button {
  font-family: Montserrat-Bold;
  font-size: 25px;
  letter-spacing: 4px;
  color: #252B4B;
  font-family: Montserrat-Reguler;
  font-size: 14px;
  letter-spacing: 6.8px;
  font-size: 16px;
  letter-spacing: 3px;
  border: none;
  border-radius: 0.5rem;
  transition: 0.5s;
  color: #FFFFFF;
  background: #2A57F8;
  font-weight: 600;
  width: 50%;
  height: 50px;
}
footer button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 1000px) {
  .alert .pict img {
    width: 100%;
  }
  main .group {
    width: 80%;
  }
  footer button {
    width: 80%;
  }
}
@media screen and (max-width: 900px) {
  body {
    padding-top: 1rem;
    align-items: flex-start;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  header img {
    width: 4rem;
    height: auto;
  }
  header .name {
    margin-top: 0.8rem;
    font-size: 14px;
  }
  header .service {
    font-size: 8px;
    line-height: 16px;
  }
  main {
    margin-top: 1rem;
  }
  main .group {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  main .group:nth-child(2) {
    height: 90px;
  }
  main .group.sel {
    height: auto;
    flex-direction: column;
  }
  main .group.sel button {
    width: 100%;
    height: 35px;
    margin-bottom: 0.5rem;
  }
  main .group.sel button:nth-child(4) {
    margin: 0;
  }
  main .group label {
    font-size: 12px;
  }
  main .group input {
    font-size: 12px;
    height: 35px;
  }
  main .group p {
    font-size: 13px;
  }
  footer button {
    width: 100%;
    font-size: 13px;
    height: 45px;
    letter-spacing: 4px;
  }
}/*# sourceMappingURL=main.css.map */